@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: Poppins, sans-serif;
}
.dropdown-title{
  text-decoration: none;
  color: rgba(24, 20, 20, 0.808);
}
.dropdown-title:hover{
  color: rgba(0, 0, 0, 0.815);
}

.heroimg{
  max-height: 560px;
  filter: brightness(.7);
}
.sliderimg{
  width: 100%;
  height: 350px;
}

.card1{
  height: fit-content;
}
.card-text{
  font-size: .88rem;
}
.slick-dots li.slick-active button:before {
  color: blue !important;
}
.slick-dots li button:before{
  color:aqua !important;
  font-size: 1rem !important;
}
.unordered{
  color: antiquewhite;
}
.list-footer {
  color: aliceblue;
  cursor: pointer;
}
.list-footer:hover{
  color: aqua;
}
.footer-icons{
  
}
.footer-icons:hover{
  color: aqua;
}

.img-width{
  height: 250px;
}



.Icons .cardIcons{
  font-size: 100px;
  padding: 20px 0;
}

/* contact page */
.get-in-touch{
  margin-top: 100px !important;
  margin-left: 100px !important;
}

@media screen and (max-width: 960px) {
  
  .get-in-touch {
    display: none !important;
  }
  .row-marg{
    margin-left: 0 !important;
  }
}

